<div class="content">
<h1>Welcome to the Scraper Blogs Project!</h1>
<h3>Following are the details about the project:</h3>


<div class="column">

<ul>
	
  <li class="alt">There are around 60 blogs scrapers included.</li>

  <li class="">Each blog contains numerous articles</li>

  <li class="alt">For each article in each blog, following attributes will be scraped:
	<ul>
		<li class="">Title of the article</li> 
		<li class="">Total word count in the article</li>
		<li class="">Article published date</li>
		<li class="">Article author</li>
		<li class="">Total comments count in the article</li>
	</ul>   
  </li>

  <li class="">Each scraped data can be viewed or downloaded as a csv file</li>

</ul>

</div>
<div>
  <h3>About the developer</h3>
  <p>
	I am an experienced Flask Developer working in <a class="link" href = "https://www.logpoint.com">LogPoint</a> since 2011.
	I entered in Freelancing World in 2018 April only.
  </p>
  <p>
	As a newbie, I performed various scraping in initial phases.
	This project is a result of such tasks. I really am grateful to my very first client who believed in me and assigned me the very
	first job in upwork. He asked me to scrape various blogs and to provide him with the script for each blog. 
  </p>
  <p>After completion of that job, I compiled all of the scripts and developed this web application using Flask.</p>
  <p>
	If you're interested, you can download the code from my <a class="link" href = "https://github.com/pathakumesh/Scrapy-Flask-Project">github</a> account.
  </p>
  <p>Thank you for visiting!!</p>
</div>
<p><i> <a class="btn" href="{{ url_for('listing.list_blogs') }}"><i class="icon-plus"></i>Click here to enter!</a></i></p>