<div class="content">
<h1>Welcome to the Scraper Blogs Project!</h1>
<h3>Following are the details about the project:</h3>


<div class="column">

<ul>
    
  <li class="alt">There are around 60 blogs included.</li>

  <li class="">Each blog contains numerous articles</li>

  <li class="alt">For each article, following attributes will be scraped:
  	<ul>
		<li class="">Title of the article</li> 
		<li class="">Total word count in the article</li>
		<li class="">Article published date</li>
		<li class="">Article author</li>
		<li class="">Total comments count in the article</li>
  	</ul>	
  </li>

  <li class="">Each scraped data can be viewed or downloaded as a csv file</li>

</ul><p><i> <a class="btn" href="{{ url_for('listing.list_blogs') }}"><i class="icon-plus"></i>Click here to enter!</a></i></p>

</div>

</div>